@font-face {

  src: url(fonts/LinLibertine/LinLibertine_Re-4.7.5.otf);
}

body {
    background: white;
    margin: 2em;
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    color: #374641;
}

header h1{
   font-family: "Helvetica Neue",Helvetica,Arial,default;
   font-size: 20px;
}



h2 {
   font-family: "Helvetica Neue",Helvetica,Arial,default;
   font-size: 18px;
   font-weight: bold;
   color: #374641;
}

p {
   font-family: "Helvetica Neue",Helvetica,Arial,default;
   font-size: 17px;
}

ul{
    list-style: none;
}

#container{
   max-width: 600px;
   margin: 0px auto;
}

header {
    margin: 0;
}

header h1{
    margin: 0px 0 -4px 0px;
}

#content {
    background: white;
}

section{
    margin-top: 2em;
}

p.meta{
    margin-top: -1.2em;
    font-size: 75%;
}

footer {
    background: white;
    padding: 1.5em 1em;
    font-size: 75%;
}

footer ul{
    list-style: none;
}
footer li{
    float: right;
    margin: 0px 0.5em;
}
footer .contact #personal{
    float:left;
}


a { text-decoration: none; color: inherit; }
a:hover { text-decoration: underline; }
a { color: #553; text-decoration: dotted-underline; }
h1 a { text-decoration: none; color: inherit; }
h1 a:hover { text-decoration: none; color: inherit; }
