body{
  
}

.site{
   margin: 1em auto;
   width: 750px;
   
}

img{
    border: 0;
}

.small{
    font-size:.8em;
}

p{
    font-size:.9em;
}
#sizer{
    margin-left:-1em;
    font-size: 1.2em;
    margin-top:-.5em;
}

#title{
    margin-bottom: 0;
}

#title h1{
    font-family: Georgia,'Bitstream Vera Sans Serif','Lucida Grande',Helvetica,Verdana,Arial,sans-serif;
    font-size: 2.5em;
    margin-bottom: 0;
}


h1 .subtle{
    font-size:.8em;
    color:#DDD;
}

h2{
    font-size: 1.2em;
    color:#555;
}

ul a{
    text-decoration: none;
    color:#B1B4B6;
}

ul a:hover{
    text-decoration: underline;
    color: #4E4E4E;
}
ul a:visited{
    color: #4E4E4E;
}


#menu{
    margin-top: -.2em;
    padding-top: 0em;
    padding-left: .55em;
}
#menu ul{
    margin-left: 1em;
    margin-top: -.2em;
    padding: 0;
}
#menu li{
    display: inline;
    list-style-type: none;
    margin-left: 1em;
}
a{
    color: #AAA;
    font-size: .9em;
    text-decoration: none;
    
}
a:hover{
    color: black;
    text-decoration: underline;
}

.content{
    margin: 2em auto;
    width: 750px;
}
.content p{
 
}

#places {
    text-align: right;
    margin: 0 2px 0 auto;
    width: 10em;
  
}
#places h3{
    font-size: .9em;
}
#places ul{
    list-style:none;
    font-family: sans-serif;
}

.posts li{
    list-style: none;
}

.date{
    font-family:monospace;
}



.footer{
    
    margin: 6em 0;
    font-size: .9em;
  
}

.vcard{
    float: left;
    padding-right: 2em;
    border-right:  1px solid black;
}

.contact-links{
    float: left;
}

.contact-links ul{
    list-style: none;
    width: 200px;
    
}
.contact-links li{
    float: left;
    margin: 0 1em;
    width: 60px;
    padding: 0 3px;
}
.contact-links li a{
    display:block;
 
    width:100%;
}

.rss{
    float: left;
    margin-top: 1em;
}

