body {
    background: #E2EBCE;
    margin: 2em;
    font-family: sans-serif;
}

h1 {
    font-size: 150%;
    color: #374641;
    font-family: sans-serif;
}

h2 {
    font-size: 125%;
    color: #374641;
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

ul{
    list-style: none;

}

#container{
   max-width: 600px;
   margin: 0px auto;
}

header {
    margin: 0;
}

header h1{
    margin: 0;
}

#content {
    padding: 1.5em 1.0em;
    background: white;
    border: 1px solid #A89B64;
    border-top-width: 5px;
    border-bottom-width: 0px;
}

section{
    margin-top: 2em;
}

p.meta{
    margin-top: -1.2em;
    font-size: 75%;
}

footer {
    background: white;
    padding: 1.5em 1em;
    border: 1px solid #A89B64;
    border-top-width: 0px;
    border-bottom-width: 5px;
    font-size: 75%;
}

footer ul{
    list-style: none;
}
footer li{
    float: right;
    margin: 0px 0.5em;
}
footer .contact #personal{
    float:left;
}


a { text-decoration: none; color: inherit; }
a:hover { text-decoration: underline; }
a { color: #553; text-decoration: dotted-underline; }
h1 a { text-decoration: none; color: inherit; }
h1 a:hover { text-decoration: none; color: inherit; }
