body{
	margin-left: 5em;
	margin-right: 5em;
}

.small{
    font-size:.8em;
}

p{
	font-size:.9em;
}
#sizer{
	margin-left:-1em;
	font-size: 1.2em;
	margin-top:-.5em;
}

#header{
	margin-left: 0em;
	margin-top: 1em;
}

#title{
}

#title h5{
    font-family: Georgia,'Bitstream Vera Sans Serif','Lucida Grande',Helvetica,Verdana,Arial,sans-serif;
    font-size: 2.5em;
}

#title h5 .bigLetter{
    font-size: 110%;
}

h2{
	font-size: 1.2em;
}

h3{
	font-size:1.25em;
	font-style:oblique;
}
a{
	text-decoration: none;
	color:#B1B4B6;
}

a:hover{
	text-decoration: underline;
	color: #4E4E4E;
}
a:visited{
	color: #4E4E4E;
}

table{
margin-top:0.1em;
}

table td{
	padding: 0 .5em 0 .5em;
}
table th{
	text-align:center;
}

#menu{
	
	margin-top: -.2em;
	
	padding-top: 0em;
	padding-left: .5em;
	
}
#menu ul{
    font-family: sans-serif;
	margin-top: -.2em;
	padding: 0;
}
#menu li{
	display: inline;
	list-style-type: none;
	margin-left: .5em;
}
#menu a{
    color: black;
    font-size: .9em;
    text-decoration: none;
    
}
#menu a:hover{
    text-decoration: underline;
}

#content{
	max-width: 35em;
	margin: 2em 1em 2em 1.5em;
	
}
#content p{
	margin: 0em 0em 1em 2em;
}

#footer{
	border-top: 1px solid #998928;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size: .8em;
	width:50%;
}

.vcard {
	text-align:center;
	
}
