<footer>
<ul id="social-media">
  <li><a href="http://www.facebook.com/people/Patrick_McNally/3109759"><img src="/img/icons/facebook.png"></a></li>
  <li><a href="http://twitter.com/patmcnally"><img src="/img/icons/twitter.png"></a></li>
  <li><a href="https://plus.google.com/115675932754468606191"><img src="/img/icons/google_plus.png"></a></li>
  <li><a href="http://www.linkedin.com/in/patrickmcnally"><img src="/img/icons/linkedin.png"></a></li>
  <li><a href="http://github.com/patmcnally"><img src="/img/icons/github.png"></a></li>
</ul>
</footer>
