

<footer>
<ul id="social-media">
  <li><a href="http://www.facebook.com/people/Patrick_McNally/3109759"><img src="/images/icons/facebook.png"></a></li>
  <li><a href="http://twitter.com/patmcnally"><img src="/images/icons/twitter.png"></a></li>
  <li><a href="https://plus.google.com/115675932754468606191"><img src="/images/icons/google_plus.png"></a></li>
  <li><a href="http://www.linkedin.com/in/patrickmcnally"><img src="/images/icons/linkedin.png"></a></li>
  <li><a href="http://github.com/patmcnally"><img src="/images/icons/github.png"></a></li>
</ul>
</footer>
<!--
     Thanks for the base:
     http://themeforest.net/item/isimple-theme/128757
-->
</html>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2389638-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="application/x-javascript">
  function hideURLbar() { window.scrollTo(0, 1); }
  addEventListener('load', function() { setTimeout(hideURLbar, 0) }, false);
  window.onorientationchange = hideURLbar;
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
