<!DOCTYPE html> 
<html> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=806" />
<title>{{ page.title }}</title> 
<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen"/>
<!-- <link rel="stylesheet" href="css/iPhone.css" type="text/css" media="only screen and (max-device-width: 480px)" /> -->
<!-- <link rel="alternate" type="application/atom+xml" title="Atom" href="http://feeds2.feedburner.com/robey" /> -->
<!--<link rel="alternate" type="application/rss+xml" title="patmcnally.com RSS Feed" href="feed" /> -->
<!--<script type="text/javascript" src="js/something.js"></script> -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2389638-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>

<body> 
<div id="container"> 
<header>
  <h1>
    <a href="/">patmcnally.com</a> 
  </h1>
</header>

<div id="content">
  {% if page.date %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date_to_string }} - {{page.location}}</p>
  {% endif %}

  {{ content }}
</div>

<footer>

  <div class="contact vcard">
    <div id="personal">
    <a class="url fn" rel="me" href="http://patmcnally.com/">Pat McNally</a>
    <code>&lt;<a  class="email" href="mailto:pat.mcnally@gmail.com">pat.mcnally@gmail.com</a>&gt;
    </code>
    </div>
    <div id="locations">
    <ul> 
	  <li> 
	    <a rel="me" class="url" href="http://www.facebook.com/people/Patrick_McNally/3109759">
          Facebook
        </a> 
	  </li> 
	  <li> 
	  <a rel="me" class="url" href="http://www.linkedin.com/in/patrickmcnally">
        LinkedIn
      </a> 
	  </li> 
	  <li> 
	    <a rel="me" class="url" href="http://twitter.com/patmcnally">
          Twitter
        </a> 
	  </li> 
	  <li> 
	    <a rel="me" class="url" href="http://github.com/patmcnally">
          Github
        </a> 
	  </li> 
    </ul>
    </div>
  </div>
</footer>
<!-- 
     Many thanks to Robey Pointer [http://robey.lag.net/] for
     inspiring the content and feel of this site 
-->
</html>
